@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme{
  --font-default: "Montserrat", sans-serif;
}
* {
  @apply font-default;
}
@layer base {
  h1{
    font-size: 48px;
    line-height: 130%;
    letter-spacing: -2%;
    font-weight: bold;
  }
  h2{
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -1.5%;
    font-weight: 600;
  }
  .title-underline {
    @apply relative inline-block pb-2.5;
  }

  .title-underline::after {
    content: "";
    @apply absolute bottom-0 left-0 w-full h-1 bg-[#EC562A];
    border-radius: 50% / 100%; 
    clip-path: ellipse(50% 50% at 50% 50%);
  }

  h3{
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -1.5%;
    font-weight: 600;
  }
  p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}
